
@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/proximanova_regular.ttf') format('truetype'),
       url('./fonts/proximanova_bold.otf') format('opentype'),
       url('./fonts/proximanova_light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.bg-hero {
  background-image: url('./assets/Background_hero.svg');
  background-size: cover;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInLeft {
  animation: fadeInLeft 1s ease-out forwards;
}

.animate-fadeInRight {
  animation: fadeInRight 1s ease-out forwards;
}

.bg-project-one {
  background-image: url('./assets/Background_project.svg');
  background-size: cover;
}

.bg-project-two {
  background-image: url('./assets/Background_project_two.svg');
  background-size: cover;
}

:root {
  --primary_black: #151922;
  --background_black: #323441;
  --secondary_blue: #007AFF;
  --white: #FFFFFF;
}

.pt-10px {
  padding-top: 10px;
}

.pt-20px {
  padding-top: 20px;
}
.p-10px {
  padding: 10px;
}

.bg-footer {
  background-color: #F5F5F5;
}

.custom-medium-circle {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid #d0d0d0;
  border-bottom: 0;
  height: 40px;
}

.custom-footer {
  border-top: 2px solid #d0d0d0;
}

.pdlr-50px {
  padding-left: 50px;
  padding-right: 50px;
}

.p-footer {
  padding-left: 100px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 100px;
}

.text-secondary-blue {
  color: var(--secondary_blue);
}

.pt-80px {
  padding-top: 80px;
}

.text-gray {
  color: #757575;
}

h1 > .bar-custom {
  width: 100%;
}

.w-custom {
  width: 100% - calc(10px);
}

.ptb-custom-13px {
  padding-top: 13px;
  padding-bottom: 13px;
}

.plr-custom-12px {
  padding-left: 12px;
  padding-right: 12px;
}

.mb-custom-15px {
  margin-bottom: 15px;
}

.shadow-inner-top {
  box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.25);
}
.pt-custom-90px {
  padding-top: 90px;
}

.pb-custom-30px {
  padding-bottom: 30px;
}

.pb-bottom-50px {
  padding-bottom: 50px;
}

.pb-bottom-80px {
  padding-bottom: 80px;
}

/* Aplica la clase solo en pantallas medianas y superiores */
@media (min-width: 768px) {
  .txt-20-perc {
    width: 20%;
  }

  .pl-170px {
    padding-left: 170px;
  }
  
  .pr-170px {
    padding-right: 170px;
  }

  .ml-230px-md {
    margin-left: 10vw;
  }

  .mr-230px-md {
    margin-right: 10vw;
  }

  .mt-80px-md {
    margin-top: 80px;
  }

  .mt-100px-md {
    margin-top: 100px;
  }

  .mt-0px-md {
    margin-top: 0px;
  }
  .mt-45px-md {
    margin-top: 45px;
  }

  .md-pt-custom-15px {
    padding-top: 15px;
  }

  .mt-100px-md-custom {
    margin-top: 100px;
  }
}


@media (min-width: 0px) and (max-width: 767px) {
  .hd-links {
    display: none;
  }

  .pt-80px {
    padding-top: 30px;
  }

  .pd-top-mobile-50px {
    padding-top: 50px;
  }

  .plr-mobile-20px {
    padding-left: 20px;
    padding-right: 20px;
  }

  .dp-links {
    justify-content: center;
  }

  .sm-m-custom-5 {
    margin: 5px;
  }

  .bar-custom {
    width: 10%;
  }

  .ml-mr-30px {
    margin-left: 30px;
    margin-right: 30px;
  }

  .ml-mr-60px {
    margin-left: 60px;
    margin-right: 60px;
  }

  .pt-custom-90px {
    padding-top: 50px;
  }

  .pb-custom-30px {
    padding-bottom: 50px;
  }
  .pt-custom-9px {
    padding-top: 9px;
  }

  .pt-custom-40px {
    margin-top: 40px;
  }

  .mt-100px-md-custom {
    margin-top: 150px;
  }

  .bg-hero {
    background-image: url('./assets/Background_mini_hero.svg');
    background-size: cover;
  }

}

.bg-projects-custom {
  background-color: #fbfbfb;
}

.bar-custom {
  background-color: #DDDDDD;
  width: 40%;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova';
}

body{
  width: 100%;
  margin: 0 auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

nav{
  z-index: 10001;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a{
  color: var(--white);
  margin: 0 10px;
}

nav ul li a:hover{
  text-decoration: underline solid var(--background_black);
}

.socials-logos:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.logo {
  color: var(--white);
}

.navbar {
  padding: 25px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary_black);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 89px;
  right: 0;
  width: 100%;
  background-color: var(--background_black);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;  
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--white);
  margin: 5px 0;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1200px){
  .ml-30px-tablet {
    margin-left: 30px;
  }
}

@media screen and (max-width: 991px){
  nav ul li a{
    color: var(--white);
  }

  .navbar{
    background: var(--primary_black);
    padding: 30px 8%;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-icon.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .menu-icon.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-icon.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 89px;
    right: 0;
    width: 100%;
    background-color: var(--background_black);
    overflow: hidden;
    max-height: 0; /* Inicialmente oculto */
    opacity: 0;
    padding: 0;  /* Asegura que no ocupe espacio antes de abrir */
    transition: max-height 0.2s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  .nav-links.visible {
    max-height: 500px; /* Ajusta según el contenido */
    opacity: 1;
    padding: 20px 0; /* Se expande solo cuando está visible */
  }

  nav ul li a:hover{
    text-decoration: underline solid var(--primary_black);
  }
}

.bg-chat-gray {
  background-color: #E9E9EB;
}
/* Para el efecto de escritura en los mensajes */
.message-text p {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 2s steps(30) 1s forwards;
}

/* Para el scroll del chat */
.chat-container {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e0 #f1f1f1;
}

.chat-container::-webkit-scrollbar {
  width: 6px;
}

.chat-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 6px;
}

/* Estilos para las burbujas de chat */
.chat-bubble-left {
  position: relative;
}

.chat-bubble-left::after {
  content: '';
  position: absolute;
  left: -7px;
  bottom: 0;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: #d6d6d6;
  border-left: 0;
  margin-bottom: 8px;
  z-index: 999;
}

.reaction-bubble {
  background-color: #007AFF;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
}

.chat-bubble-right {
  position: relative;
}

.chat-bubble-right::after {
  content: '';
  position: absolute;
  right: -7px;
  bottom: 0;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-color: #005aea; /* Color azul de Tailwind bg-blue-500 */
  border-right: 0;
  margin-bottom: 8px;
}

/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

.md-l-20px {
  margin-left: 20px;
}

.md-r-20px {
  margin-right: 20px;
}